@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
img,
div,
span,
p,
li {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/bodyvector-3.png");
}

:root {
  --Hanken: "Hanken Grotesk", sans-serif;
  --popins: "Poppins", sans-serif;
  --gradient_color: radial-gradient(
    178.87% 178.87% at 37.56% -85.79%,
    rgba(184, 128, 255, 0) 0%,
    #faf6ff 100%
  );
  --primary_textcolor: #000;
  --secondary_textcolor: #b070ff;
  --third_textcolor: #32046b;
  --button_color: #b070ff;
  --second_btncolor: #7c14fd;
  --white_color: #fff;
}
/*============================================
                Navber Css Start
==============================================*/
.customNavbar {
  background-color: var(--white_color);
  box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.05);
}

.navbar_item {
  color: var(--primary_textcolor, #000);
  margin-right: 25px;
  padding-left: 20px;
  font-size: 16px;
  font-family: var(--Hanken);
  font-weight: 500;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.navbar_item:hover {
  color: var(--second_btncolor, #7c14fd);
  scale: 1.1;
}
.nav-link {
  padding: 0;
}

.navbtn {
  padding: 16px 48px;
  margin-right: 0px;
  font-family: var(--Hanken);
  background-color: transparent;
  border: 2px solid var(--second_btncolor, #7c14fd);
  color: var(--second_btncolor, #7c14fd);
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.navbtn:hover {
  border: 2px solid var(--white_color);
  color: var(--white_color);
  background-color: var(--second_btncolor);
}
.Navcustom_btn {
  background: white;
}
.Navcustom_btn:focus {
  box-shadow: none;
}
.customdrop {
  border: none;
  background: transparent;
}
/*============================================
                  Navber Css End
==============================================*/
/*============================================
                  Banner Css Start
==============================================*/
#banner_part {
  padding: 134px 0;
  background: url(../images/bannerBg.png);
  background-color: #faf6ff;
}
.bannerToppart__title {
  color: var(--primary_textcolor, #000);
  font-family: var(--Hanken);
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 115.7%;
  letter-spacing: -1.14px;
}
.bannerToppart__subtitle {
  color: var(--secondary_textcolor, #b070ff);
  font-family: var(--Hanken);
  font-size: 24px;
  font-weight: 600;
  line-height: 119.7%;
  opacity: 0.8;
}
.bannerToppart {
  margin-left: 100px;
}

/*============================================
                  Banner Css End
==============================================*/
/*============================================
              Cart part Css Start
==============================================*/
.customrow {
  margin: 100px 90px;
}
.blogcart1__title {
  color: var(--primary_textcolor, #000);
  font-family: var(--Hanken);
  font-size: 28px;
  font-weight: 700;
  line-height: 37.6px;
}
.blogcart1__summary {
  color: var(--primary_textcolor, #000);
  font-family: var(--Hanken);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.blogcart1__btn {
  margin-top: 58px;
  color: var(--white_color, #fff);
  font-family: var(--Hanken);
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  padding: 12px 24px;
  border-radius: 15px;
  background: var(--secondary_textcolor, #b070ff);
  width: 180.659px;
  height: 55.848px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.blogcart1__btn:hover {
  color: #000000a4;
  scale: 1.02;
}
.blogcart1__btn i {
  margin-left: 15px;
}
.blogcart1 {
  border-radius: 40px;
  border: 2px solid #fff;
  box-shadow: 0px 86px 114px 0px rgba(124, 20, 253, 0.14);
  background: var(--white_color);
  padding: 60px 10px 30px 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.blogcart1:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.countPage {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.pageNumber {
  padding-left: 40px;
  color: var(--primary_textcolor, #000);
  font-family: var(--Hanken);
  font-size: 22px;
  font-weight: 700;
  line-height: 37.6px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.pageNumber:hover {
  color: var(--secondary_textcolor, #b070ff);
  font-size: 23px;
}
.nextBar {
  color: var(--secondary_textcolor, #b070ff);
  font-family: var(--Hanken);
  padding-left: 40px;
  font-size: 22px;
  font-weight: 700;
  line-height: 37.6px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
/*============================================
              Cart part Css End
=============================================*/
/*============================================
            Lunar part Css Start
==============================================*/
.lunarLeft__title {
  color: var(--primary_textcolor, #000);
  text-align: center;
  font-family: var(--Hanken);
  font-size: 52px;
  font-weight: 700;
  line-height: 137.2%;
}
.lunarLeft__summary {
  color: var(--third_textcolor, #32046b);
  text-align: center;
  font-family: var(--Hanken);
  font-size: 26px;
  font-weight: 600;
  line-height: 42.5px;
  letter-spacing: 0.2px;
}
.lunarLeft__btn {
  color: var(--white_color, #fff);
  border-radius: 25px;
  background: #7c14fd;
  box-shadow: 0px 26px 46px 0px rgba(124, 20, 253, 0.35);
  text-align: center;
  font-family: var(--Hanken);
  font-size: 24px;
  font-weight: 700;
  width: 317px;
  height: 93px;
  padding: 30px 32px;
  margin-top: 100px;
  margin-left: 150px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.lunarLeft__btn:hover {
  color: #00000093;
}
/*============================================
              Lunar part Css End
==============================================*/
/*============================================
              Footer part Css End
==============================================*/
#footer_part {
  background: url(../images/footerbg.png);
  padding: 494px 0 80px 0;
}
.footerItem1st {
  padding: 0 77px 0 40px;
}

.footerItem1__details {
  color: var(--white_color, #fff);
  font-family: var(--Hanken);
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
  line-height: 31.5px;
  letter-spacing: 0.2px;
  margin-top: 40px;
}
.fticons {
  display: inline-block;
}
.fticons i {
  color: var(--white_color, #fff);
  margin-top: 47px;
  font-size: 20px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.fticons i:hover {
  scale: 1.08;
  color: #000;
}
.socialIcon {
  padding-left: 22px;
}
.footerItem2__title {
  color: var(--white_color, #fff);
  font-family: var(--Hanken);
  font-size: 22px;
  font-weight: 700;
  line-height: 31.5px;
  letter-spacing: 0.2px;
}
.footerItem2 {
  margin-left: 30px;
}
.footerul {
  margin-top: 40px;
}
.footerItem2 li a {
  color: var(--white_color, #fff);
  font-family: var(--Hanken);
  font-size: 18px;
  font-weight: 500;
  line-height: 31.5px;
  letter-spacing: 0.2px;
}
.footerItem4 {
  margin-left: 30px;
}
.footerItem4__title {
  color: var(--white_color, #fff);
  font-family: var(--Hanken);
  font-size: 22px;
  font-weight: 700;
  line-height: 31.5px;
  letter-spacing: 0.2px;
}
.footerItem2nd {
  margin-left: 20px;
}
.Item4Box {
  max-width: 390px;
  height: 224px;
  border-radius: 20px;
  background: #9a48ff;
  box-shadow: 0px 69px 114px 0px rgba(124, 20, 253, 0.08);
  margin-top: 10px;
}
.Item4Custom {
  margin-right: 20px;
}
/*============================================
              Footer part Css End
==============================================*/
