@media (max-width: 991.98px) {
  /*======== Navber part css =========*/
  .navbar_item {
    padding: 20px;
    background-color: #7777;
    margin-top: 10px;
    text-align: center;
  }
  .navbtn {
    text-align: center;
    margin-top: 20px;
  }
  /*======== Navber part css =========*/
  /*======== Lunar part css =========*/
  .lunarLeft__title {
    font-size: 44px;
  }
  .lunarLeft__summary {
    text-align: center;
    font-size: 17px;
  }
  .lunarLeft__btn {
    border-radius: 23px;
    font-size: 20px;
    width: 266px;
    height: 82px;
    padding: 26px 32px;
  }
  .lunarCustom {
    margin-top: 30px;
  }
  /*======== Lunar part css =========*/
  /*======== Cart part css =========*/
  .stcart {
    margin-top: 40px;
  }
  /*======== Cart part css =========*/
  /*======== Footer part css =========*/
  .footerItem1st {
    padding: 0 3px 0 3px;
  }
  .footerItem2nd {
    margin-left: 27px;
  }
  .Item2Custom {
    margin-left: 20px;
    padding-left: 0px;
  }
  .Item3Custom {
    padding-left: 18px;
    padding-right: 0px;
  }
  .footerCustomrow {
    width: 100%;
    margin-left: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footerItem2 li a {
    font-size: 14px;
  }
  .footerItem1__details {
    font-size: 14px;
  }
  .footerLeftlogo {
    width: 100%;
  }
  .Item4Custom {
    margin-right: 0px;
  }
  /*======== Footer part css =========*/
}
