@media (max-width: 767.98px) {
  /*======== Banner part css =========*/
  .bannerToppart__title {
    font-size: 60px;
  }
  .bannerToppart__subtitle {
    font-size: 19px;
  }
  .bannerToppart {
    margin-left: 0;
    text-align: center;
  }
  /*======== Banner part css =========*/
  /*======== Cart part css =========*/
  .pageNumber {
    font-size: 19px;
  }
  .blogcart1 {
    text-align: center;
  }
  .blogcart1__btn {
    margin: auto;
    margin-top: 38px;
  }
  /*======== Cart part css =========*/
  /*======== Lunar part css =========*/
  .lunarLeft__title {
    font-size: 34px;
  }
  .lunarLeft__summary {
    font-size: 16px;
    line-height: 34.5px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .lunarLeft__btn {
    font-size: 17px;
    width: 209px;
    height: 64px;
    padding: 19px 29px;
  }
  /*======== Lunar part css =========*/
  /*======== Footer part css =========*/
  .footerItem1st {
    padding: 0 3px 0 3px;
    width: 100%;
  }
  .Item2Custom {
    margin-left: 20px;
    padding-left: 16px;
  }

  .Item2Custom {
    margin-left: 0px;
    padding-left: 0px;
  }
  .footerItem2nd {
    margin-left: 0px;
    margin-top: 20px;
  }
  .footerul {
    margin-top: 10px;
  }
  .Item3Custom {
    margin-top: 20px;
    padding-left: 0px;
  }
  .Item4Custom {
    margin-top: 20px;
    margin-right: -24px;
  }
  .Item4Box {
    height: 158px;
  }
  .footerCustomrow {
    padding-left: 0;
    padding-right: 0;
    width: 158%;
  }
  .footerItem1__details {
    padding-right: 319px;
  }
  .footerLeftlogo {
    width: 32%;
  }
  .Item4Box {
    height: 158px;
    width: 134px;
  }
  .footerItem4 {
    margin-left: 0px;
  }
  /*======== Footer part css =========*/
}
